header {
    width: 100%;
    color: var(--white-050);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--border);
    margin-bottom: 2rem;
}

.menuLinks {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row ;
    gap: 0.5rem;
}

.logout {
    font-size: 1.5rem;
    padding: 0;
}
.logout i {
    width: 100%;
    color: var(--red-500);
}

header a:hover {
    color: var(--white-050);
}